# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Databases and local tracking
*.db
mlruns/
mlflow.db
postgres_data/
redis_data/
mlflow_data/

# Testing
.pytest_cache/
.coverage
htmlcov/
